.card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 3rem 0.5rem 0.5rem 0.5rem;
  border-radius: 5px;
  position: relative;
  gap: 10px;
  background-color: rgba(240, 240, 240, 0.211);
}

.text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.textContainer1 {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.textContainer1 > .title {
  font-size: 1.5rem;
}

.textContainer2 {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 0.5rem;
}

.textContainer2 > p {
  font-weight: 500;
  color: rgba(115, 113, 113, 0.761);
  background-color: rgba(128, 128, 128, 0.246);
  border-radius: 5px;
  padding: 0.3rem 0.6rem;
}

.textContainer3 {
  display: flex;
  justify-content: space-between;
}

.textContainer3 strong {
  font-weight: 500;
}

.textContainer3 > p {
  align-self: center;
}

.textContainer3 > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textContainer4 {
  display: flex;
  gap: 1rem;
}

.textContainer4 > * {
  flex: 1;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 200ms;
}

.textContainer4 > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(72, 130, 180);
  &:hover {
    background-color: rgb(102, 148, 188);
  }
}

.textContainer4 > button:last-child {
  background-color: crimson;
  &:hover {
    background-color: rgb(177, 19, 50);
  }
}

.imageContainer > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.viewPost {
  position: absolute;
  top: 5px;
  right: 15px;
  width: 35px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch button {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 400ms;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 400ms;
}

button.published + .slider {
  background-color: #2196f3;
}

button.published + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 550px) {
  .card {
    grid-template-columns: 1fr;
  }

  .viewPost {
    width: 30px;
  }
}
