.main {
  padding: 1rem;
  font-family: "roboto", Arial, sans-serif;
  gap: 2rem;
}

.main > h1 {
  font-size: 1.6rem;
  text-align: center;
  margin: 2rem 0;
}

.main > .postsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin-top: 1rem;
}

.dialog {
  top: 0;
  margin: 2rem auto;
  width: 70%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
}

.dialogContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.dialogContent > p {
  font-size: 1.8rem;
}

.dialogContent strong {
  font-weight: 600;
}

.dialogContent > div {
  display: flex;
  gap: 1rem;
}

.dialogContent button {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 200ms;
}

.dialogContent button:first-child {
  background-color: rgb(72, 130, 180);
  &:hover {
    background-color: rgb(102, 148, 188);
  }
}

.dialogContent button:last-child {
  background-color: crimson;
  &:hover {
    background-color: rgb(177, 19, 50);
  }
}

.noPosts {
  font-size: 1.4rem;
  text-align: center;
}

.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.pagination > button {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 200ms;
  background-color: rgb(72, 130, 180);
  &:hover:not(.disabled) {
    background-color: rgb(102, 148, 188);
  }
}

.pagination > .active {
  border: 2px solid black;
}

.pagination > .disabled {
  background-color: rgba(72, 130, 180, 0.463);
}
