.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.429);
  padding: 0.5rem 1rem;
  font-family: "roboto", Arial, sans-serif;
}

.websiteLogo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.websiteLogo > span {
  font-size: 1.1rem;
}

.websiteLogo > img {
  width: 40px;
}

.profile > img {
  width: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav > a {
  text-decoration: none;
  color: #000;
  position: relative;
  transition: color 200ms ease;

  &:hover {
    color: gray;
  }
}

:global(a.active) {
  color: gray;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
