.main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 5rem;
}

.websiteHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.websiteHeader > h1 {
  font-family: "roboto", Arial, sans-serif;
  font-size: 2.5rem;
}

.websiteHeader > img {
  width: 60px;
}

.loginHeader {
  font-family: "roboto", Arial, sans-serif;
  font-size: 1.5rem;
}

.errors {
  list-style: initial;
  list-style-position: inside;
  line-height: 1.3;
  font-family: "roboto", Arial, sans-serif;
  color: crimson;
}

.formContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 50%;
}

.formContent > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "roboto", Arial, sans-serif;
  width: 100%;
}

.formContent input {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0px 5px gray;
  padding: 0.5rem;
}

.formContent > button {
  margin-top: 0.5rem;
}

.formContent > p {
  font-family: "roboto", Arial, sans-serif;
  align-self: start;
  color: rgba(0, 0, 0, 0.582);
}

.formContent > p > a {
  color: black;
  font-weight: 500;
}
