.main {
  padding: 1rem;
  font-family: "roboto", Arial, sans-serif;
}

.main > h1 {
  margin: 1rem 0;
  text-align: center;
  font-size: 2rem;
}

.errors {
  list-style: initial;
  list-style-position: inside;
  line-height: 1.3;
  color: crimson;
}

.formContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 60%;
}

.formContent > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.formContent input {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0px 5px gray;
  padding: 0.5rem;
}

.editor {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.topics {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.topics > div:first-child {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.topics > div:first-child > label {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}

.topics > div:first-child input {
  flex: 1;
}

.topics > div:first-child > button {
  background-color: rgb(72, 130, 180);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 200ms;
  &:hover {
    background-color: rgb(102, 148, 188);
  }
}

.topics > div:last-child {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0px 5px gray;
  padding: 0.5rem;
}

.buttons {
  margin-top: 0.5rem;
  display: flex;
  gap: 2rem;
}

.buttons > button:first-child {
  background-color: rgb(72, 130, 180);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 200ms;
  &:hover {
    background-color: rgb(102, 148, 188);
  }
}

@media (max-width: 800px) {
  .formContent {
    width: 100%;
  }
}
